div {
    /* outline: 0.1px solid rgb(226, 22, 22); TODO remove */
}
.mainframe{
    outline:auto;  /* TODO remove */
    margin: 16px;
    padding: 16px;
}
.mainpage{
    padding: 0;
    margin: 0;
}

.frognerparken{
    position: relative;
    width: 100%;

}
.frognerparken img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;

}
.frognerparken .text{
    position: absolute;
    bottom: 8%;
    width: 100%;
    background-color: rgba(0,0,0,.3);
}


.carusel__track-container{
    height: 100vh;
    overflow: hidden;
    position: relative;

}





.carusel__slide{
    position: absolute;

}
.carusel__slide img{

    height: 100vh;
    width: 100vw;
    object-fit: cover;




}



/* * Buttons */

.carusel__buttons{

    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0
}

.carusel__button-previous{

    height: 100%;
    width: 50%;
    opacity: 0%;
    cursor: pointer;
}
.carusel__button-next{

    height: 100%;
    width: 50%;
    opacity: 0%;
    cursor: pointer;
}


.profiletext{
    margin: 8px;
    
}

.profilesubtext{
    margin: 8px;
}


